# On UNIX systems you can use `openssl rand -hex 32` or 
# https://generate-secret.vercel.app/32 to generate a secret.
AUTH_SECRET=<random_secret>

KEYCLOAK_CLIENT_ID=<client_id>
KEYCLOAK_CLIENT_SECRET=<client_secret>
KEYCLOAK_ISSUER=<keycloak_url>/auth/realms/<realm_name>

# Needed for deployment
NEXTAUTH_URL=<site_url>
